html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* html {
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 1.5em;
}

body {
  background-color: #99cc33;
  color: black;
}
body a {
  color: #8a4945;
}
body a:visited {
  color: #bc7d79;
}
body a:focus {
  color: #c48d8a;
}
body a:hover {
  color: #ab5c57;
}
body a:active {
  color: #b36c68;
}
body h1 a {
  text-decoration: none;
}
body * {
  font-family: "freight-sans-pro", sans-serif;
}

.page {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1.5em;
}
.page:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  text-align: center;
  font-family: "learning-curve", sans-serif;
  color: #ebf5d6;
  margin-bottom: 0.375em;
  font-size: 4em;
  line-height: 0.75em;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;
}
@media (min-width: 60em) {
  h1 {
    font-size: 6em;
    line-height: 1em;
  }
}
h1 a {
  font-family: "learning-curve", sans-serif;
  color: #ebf5d6 !important;
}

select {
  font-family: "freight-sans-pro", sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  width: 100%;
  text-align: center;
  margin-bottom: 1.5em;
}

h2 {
  text-align: center;
  font-family: "freight-sans-pro", sans-serif;
  color: #ebf5d6;
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 1.5em;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;
}
@media (min-width: 60em) {
  h2 {
    font-size: 2em;
    line-height: 1.5em;
  }
}

#another {
  margin-top: 1.5em;
  text-align: center;
}

button {
  font-size: 16px;
  padding: 0.3em 1.5em;
  display: inline-block;
  cursor: pointer;
  line-height: 1.5;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  background-color: #ffd71a;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffed9a), color-stop(50%, #ffd71a), color-stop(100%, #ffaa1a));
  background: -webkit-linear-gradient(#ffed9a, #ffd71a 50%, #ffaa1a);
  background: -moz-linear-gradient(#ffed9a, #ffd71a 50%, #ffaa1a);
  background: -o-linear-gradient(#ffed9a, #ffd71a 50%, #ffaa1a);
  background: -ms-linear-gradient(#ffed9a, #ffd71a 50%, #ffaa1a);
  background: linear-gradient(#ffed9a, #ffd71a 50%, #ffaa1a);
  -webkit-box-shadow: #fffbe6 0 1px 0 inset;
  -moz-box-shadow: #fffbe6 0 1px 0 inset;
  box-shadow: #fffbe6 0 1px 0 inset;
  border: 1px solid #ffa100;
  color: white;
  text-shadow: #f3c800 0 -1px 0;
  font-weight: bold;
  margin: auto;
  text-align: center;
  color: #5c7a1f;
}
button:hover {
  background-color: #ffaa1a;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffeb8f), color-stop(50%, #ffaa1a), color-stop(100%, #f09700));
  background: -webkit-linear-gradient(#ffeb8f, #ffaa1a 50%, #f09700);
  background: -moz-linear-gradient(#ffeb8f, #ffaa1a 50%, #f09700);
  background: -o-linear-gradient(#ffeb8f, #ffaa1a 50%, #f09700);
  background: -ms-linear-gradient(#ffeb8f, #ffaa1a 50%, #f09700);
  background: linear-gradient(#ffeb8f, #ffaa1a 50%, #f09700);
}
button:active {
  -webkit-box-shadow: #f09700 0 1px 2px inset;
  -moz-box-shadow: #f09700 0 1px 2px inset;
  box-shadow: #f09700 0 1px 2px inset;
}

#idea {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-color: #7aa329;
  padding: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
}
