@import "compass/reset";
@import "compass/typography";
@import "compass/css3";
@import "compass/typography/vertical_rhythm";
@import "compass/utilities/links/link-colors";

$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters

$container-style: magic;
$background-color: #9c3;
$link-color:   #8a4945;

@import "susy";

@import "sassy-buttons";

@include establish-baseline;

body {
  background-color: $background-color;
  a {
    @include link-colors($link-color, lighten($link-color,10), lighten($link-color,15), lighten($link-color,20), lighten($link-color,25));
  }
  h1 a {
    text-decoration: none;
  }
  color: desaturate(darken($background-color,75),10);
  * {
    font-family: "freight-sans-pro", sans-serif;
  }
}

.page {
  @include container();
  @include leader(1);
}

h1 {
  text-align: center;
  font-family: "learning-curve", sans-serif;
  color: lighten($background-color, 40);
  @include trailer(0.25);
  @include adjust-font-size-to($base-font-size * 4, $lines:2);
  @include at-breakpoint(60em 12) { 
    @include adjust-font-size-to($base-font-size * 6, $lines:4);
  }
  @include text-shadow(rgba(0,0,0,0.2) 0px 1px 0px);
  a {
    font-family: "learning-curve", sans-serif;
    color: lighten($background-color, 40) !important;
  }
}


h2 {
  text-align: center;
  font-family: "freight-sans-pro", sans-serif;
  color: lighten($background-color, 40);
  @include adjust-font-size-to($base-font-size * 1.5, $lines:1);
  @include trailer(1);
  @include at-breakpoint(60em 12) { 
    @include adjust-font-size-to($base-font-size * 2, $lines:2);
  }
  @include text-shadow(rgba(0,0,0,0.2) 0px 1px 0px);
}

#another {
  @include leader(1);
  text-align: center;
}

button {
  @include sassy-button("shiny", $base-font-size, $base-font-size, #ffd71a, #ffaa1a);
  font-weight: bold;
  margin: auto;
  text-align: center;
  color: darken($background-color,20);
}

@include at-breakpoint(30em 12 60em) { 
  #vegetable {
    width: 75%;
    padding: $base-font-size;
    img {
      margin: auto;
      width: 100%;
    }
  }
}

@include at-breakpoint(60em 12) { 
  #share {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.3);
    padding: $base-font-size;
  }
}

@include at-breakpoint(60em 12) { 
  #vegetable {
    width: 40%;
    margin: auto;
    padding: $base-font-size;
    img {
      margin: auto;
      width: 100%;
    }
  }
}

#idea {
  @include leader(1);
  @include trailer(1);
  background-color: darken($background-color, 10);
  padding: $base-font-size;
  @include border-radius($base-font-size);


  select {
    font-family: "freight-sans-pro", sans-serif;
    @include adjust-font-size-to($base-font-size * 2, $lines:2);
    text-align: center;
    @include trailer(1);
    margin: auto;
    display: inline-block;
  }
}