-# coding: utf-8

:plain
  <script type="text/x-handlebars">
      {{view Ember.Select
             contentBinding="App.mealsController"
             selectionBinding="App.selectedMealController.meal"
             optionLabelPath="content.name"
             optionValuePath="content.id"
             prompt="What's for dinner?"}}
    {{#if App.selectedMealController.meal}}
    <div id="hint">
      <h1>{{App.selectedMealController.meal.name}}</h1>
      <h2>{{App.selectedHintController.hint.idea}}</h2>
      {{#with App.selectedHintController}}
        <div id="vegetable">
          <img {{bindAttr src="vegetable"}}>
        </div>
      {{/with}}
    </div>
    <div id="another">
      <span class="another">
       <button {{action "another" target="App"}}>
        Another please
       </button>
      </span>
      <span class="share">
      <button {{action "share" target="App"}}>
        Share this
       </button>
      </span>
      <span class="add">
        <button {{action "add" target="App"}}>
          Add your own
        </button>
      </span>
      <span class="other">
        <button {{action "other" target="App"}}>
          Other veg you could use
        </button>
      </span>
    </div>
    {{/if}}
  </script>​